### Authentication details
tenancy_ocid = "ocid1.tenancy.oc1..."
user_ocid = "ocid1.user.oc1..."
fingerprint = "11:22:33:44:55:66:77:88:99:00:aa:bb:cc:dd:ee:ff"
private_key_path = "/home/user/.oci/oci_api_key.pem"

### Region
region = "eu-frankfurt-1"
AD = "3"

### Compartment
compartment_ocid = "ocid1.tenancy.oc1..."

### Public/private keys used on the instance
ssh_public_key = <<EOF
ssh-rsa UmFuZG9tIGtleSBjb250ZW50cy4gUHV0IHlvdXIgb3duIGtleSBpbiBoZXJlIG9idmlvdXNseS4= user@computer
ssh-rsa QW5vdGhlciByYW5kb20ga2V5IGNvbnRlbnRzLiBQdXQgeW91ciBvd24ga2V5IGluIGhlcmUgb2J2aW91c2x5Lg== user@anothercomputer
EOF

ClusterNameTag = "mycluster"

NumComputeInstances = 2
ManagementShape = "VM.Standard1.1"
ComputeShape = "VM.Standard1.2"
ComputeImageOCID = {
  // See https://docs.us-phoenix-1.oraclecloud.com/images/
  // Oracle-Linux-7.5-2018.06.14-0
  eu-frankfurt-1 = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaa7qdjjqlvryzxx4i2zs5si53edgmwr2ldn22whv5wv34fc3sdsova"
  uk-london-1 = "ocid1.image.oc1.uk-london-1.aaaaaaaas5vonrmseff5fljdmpffffqotcqdrxkbsctotrmqfrnbjd6wwsfq"
}
ManagementImageOCID = {
  // See https://docs.us-phoenix-1.oraclecloud.com/images/
  // Oracle-Linux-7.5-2018.06.14-0
  eu-frankfurt-1 = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaa7qdjjqlvryzxx4i2zs5si53edgmwr2ldn22whv5wv34fc3sdsova"
  uk-london-1 = "ocid1.image.oc1.uk-london-1.aaaaaaaas5vonrmseff5fljdmpffffqotcqdrxkbsctotrmqfrnbjd6wwsfq"
}
