### Authentication details
tenancy_ocid = "ocid1.tenancy.oc1..."
user_ocid = "ocid1.user.oc1..."
fingerprint = "11:22:33:44:55:66:77:88:99:00:aa:bb:cc:dd:ee:ff"
private_key_path = "/home/user/.oci/oci_api_key.pem"

### Region
region = "eu-frankfurt-1"

### Compartment
compartment_ocid = "ocid1.compartment.oc1..."

### Public/private keys used on the instance
ssh_public_key = <<EOF
ssh-rsa UmFuZG9tIGtleSBjb250ZW50cy4gUHV0IHlvdXIgb3duIGtleSBpbiBoZXJlIG9idmlvdXNseS4= user@computer
ssh-rsa QW5vdGhlciByYW5kb20ga2V5IGNvbnRlbnRzLiBQdXQgeW91ciBvd24ga2V5IGluIGhlcmUgb2J2aW91c2x5Lg== user@anothercomputer
EOF

ClusterNameTag = "mycluster"

ManagementAD = "3"
FilesystemAD = "3"
ManagementShape = "VM.Standard1.1"

ManagementImageOCID = {
  // See https://docs.cloud.oracle.com/iaas/images/
  // Oracle-Linux-7.6-2019.02.20-0
  eu-frankfurt-1 = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaa527xpybx2azyhcz2oyk6f4lsvokyujajo73zuxnnhcnp7p24pgva"
  uk-london-1 = "ocid1.image.oc1.uk-london-1.aaaaaaaarruepdlahln5fah4lvm7tsf4was3wdx75vfs6vljdke65imbqnhq"
}

ansible_branch = "citc2"
