# Google Cloud Platform Information
region                              = "europe-west4"
project                             = "myproj-123456"
zone                                = "europe-west4-a"

credentials                         = "myproj-123456-01234567890a.json"

private_key_path                    = "/home/user/.ssh/citc-google"
public_key_path                     = "/home/user/.ssh/citc-google.pub"

management_shape                    = "n1-standard-1"
