# Google Cloud Platform Information
gcp_region                          = "europe-west4"
gcp_project                         = "myproj-123456"
gcp_zone                            = "europe-west4-a"

credentials                         = "myproj-123456-01234567890a.json"

cluster_name_tag                    = "mycluster"
private_key_path                    = "/home/user/.ssh/citc-google"
public_key_path                     = "/home/user/.ssh/citc-google.pub"

management_compute_instance_config = {
    type  = "n1-standard-1",
}
