# Google Cloud Platform Information
region                              = "europe-west4"
zone                                = "europe-west4-a"
project                             = "myproj-123456"

credentials                         = "citc-terraform-credentials.json"

private_key_path                    = "/home/user/.ssh/citc-google"
public_key_path                     = "/home/user/.ssh/citc-google.pub"

management_shape                    = "n1-standard-1"
