# Google Cloud Platform Information
region                              = "europe-west4"
zone                                = "europe-west4-a"
project                             = "myproj-123456"

management_shape                    = "n1-standard-1"

credentials                         = "citc-terraform-credentials.json"

admin_public_keys = <<EOF
ssh-rsa UmFuZG9tIGtleSBjb250ZW50cy4gUHV0IHlvdXIgb3duIGtleSBpbiBoZXJlIG9idmlvdXNseS4= user@computer
ssh-rsa QW5vdGhlciBwdWJsaWMga2V5LiBUaGVyZSByZWFsbHkgaXMgbm8gaGlkZGVuIG1lc3NhZ2UgaW4gaGVyZQ== user@anothercomputer
EOF
